body{
    background: #BDBDBD;
}
.bg-img-tagline{
    background-image: url(https://wallpapersmug.com/download/1280x720/d32468/buildings-skyscrapers-new-york.jpg);
    width: 100%;
    padding-bottom: 12rem !important;
}
.display-1, .display-5{
    text-align: center;
    background: white;
      
}